html {
    box-sizing: border-box;
    height: 100%;
}

body {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #4B5571;
}

.task {
    height: 40px;
    width: 400px;
    border: 1px solid;
    border-radius: 15px;
    padding-left: 10px;
}

.createBtn {
    width: 120px;
    height: 35px;
    background-color: #554DAC;
    color: #fff;
}

.heading {
    margin-left: 200px;
}

.wrapper{
    backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    height: 200px;
    padding: 30px 40px ;
}